:root {
  --background-color: #fff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-main-color: #000000;
  --footer-background-color: #2f303a;
  --filter-button-color: #f5f4fa;
  --button-active-color: #188ce8;
  --header-border-color: #ececec;
  --portfolio-item-border: #eeeeee;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .section.no-bottom-padding {
    padding-bottom: 0;
  }
}
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header__container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  padding: 16px 0;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.header__logo {
  margin-right: 93px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 32px 0px;
  }
}

.logo--black {
  color: var(--logo-main-color);
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.header__contacts {
  margin-left: auto;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts__item + .contacts__item {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-top: 0px;
    margin-left: 30px;
  }
}

.contacts__link {
  color: var(--primary-text-color);
  fill: currentColor;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  display: inline;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  position: relative;
}

.mob-menu__button--open {
  margin-left: auto;
  border: none;
  padding: 0;
  height: 40px;
  background-color: var(--background-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__button--open:hover, .mob-menu__button--open:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mob-menu__button--open {
    display: none;
  }
}

.mob-menu__button--close {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  align-self: flex-end;
  border: none;
  padding: 0;
  height: 40px;
  background-color: var(--background-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__button--close:hover, .mob-menu__button--close:focus {
  fill: var(--accent-color);
}

.mob-navigation__link {
  color: var(--title-text-color);
  font-size: 40px;
  line-height: 1.18;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-navigation__link:hover, .mob-navigation__link:focus {
  color: var(--accent-color);
}
.mob-navigation__link.mob-current {
  color: var(--accent-color);
}

.mob-navigation__item + .mob-navigation__item {
  margin-top: 32px;
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__item + .mob-contacts__item {
  margin-top: 32px;
}

.mob-contacts__link.tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contacts__link.email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-smm__list {
  display: flex;
}

.mob-smm__item {
  display: flex;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  padding-right: 10px;
}
.mob-smm__item:first-child {
  padding-left: 0px;
}
.mob-smm__item:last-child {
  border-right: none;
  padding-left: 10px;
}

.mob-smm__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-image: var(--bg-gradient), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-mobile-2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    padding: 118px 0;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-desktop-2x.jpg);
  }
}

.hero__title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06;
  width: 696px;
  text-align: center;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 350px) {
  .hero__title {
    max-width: 300px;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

/*.benefits__item {
  width: calc((100% - 3*30px) /4);
  }*/
/*   @media screen and (max-width: 767px) {
    .benefits__item + .benefits__item {
      margin-top: 30px;
    }
  }
 */
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

/* 
  @media screen and (min-width: 768px) {

    .benefits__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }

    .benefits__item {
      width: calc((100% - 2*15px) / 2);
    }
  }

  @media screen and (min-width: 1200px) {

    .benefits__item {
      width: calc((100% - 3*30px) /4);
      }
  } */
.benefits__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 270px;*/
  height: 120px;
  margin: auto;
  background-color: var(--filter-button-color);
  border-radius: 4px;
}

.benefits__name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits__name {
    text-align: center;
  }
}

.benefits__description {
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (max-width: 1199px) {
  .section.works {
    display: none;
  }
}
.works__list {
  display: flex;
}

.works__item {
  width: calc((100% - 60px) / 3);
  height: 294px;
}

.works__item + .works__item {
  margin-left: 30px;
}

.works__thumb {
  position: relative;
  height: 294px;
}
.works__thumb::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  color: var(--background-color);
}

.works__name {
  position: absolute;
  left: 50%;
  bottom: 27px;
  left: 107px;
  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team {
  background-color: var(--filter-button-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/*.team__item + .team__item {
  margin-left: 30px;
}*/
/*.team__item + .team__item {
  margin-top: 30px;
}*/
.team__item {
  /*width: calc((100% - 3*30px) /4);*/
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-member {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: center;
}

.team-member__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

/*   @media screen and (max-width: 767px) {
    .team__item + .team__item {
      margin-top: 30px;
    }
  } */
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/*   @media screen and (min-width: 1200px) {
    .team__item + .team__item {
      margin-left: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
} */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding-top: 0px;
  margin: auto;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  flex-wrap: wrap;
  /*width: 170px;*/
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--background-color);
  color: #AFB1B8;
  fill: currentColor;
  justify-content: center;
  align-items: center;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/*@media screen and (min-width: 1200px) {
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}*/
/* @media screen and (max-width: 767px) {
  .clients__list:nth-child(-n + 4)  {
    margin-bottom: 30px;
  }
} 
  */
/* @media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .team__item + .team__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(-n + 2) {
  margin-bottom: 30px;
}
} */
.section.filter {
  padding: 94px 0;
}

.filter__list {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .filter__list {
    width: 330px;
    justify-content: left;
  }
}

.filter__button {
  background-color: var(--filter-button-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /*margin-right: -30px;*/
  /*  @media screen and (min-width: 1200px) {
     /*margin-right: -30px;*/
}

.portfolio__item {
  display: inline-block;
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--portfolio-item-border);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__details {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--background-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover .portfolio__details, .portfolio__card:focus .portfolio__details {
  transform: translateY(0%);
}

.portfolio__card {
  width: 100%;
  position: relative;
  transition-property: box-shadow, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.portfolio__descr {
  padding: 20px 24px;
}

.portfolio__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__descr-text {
  color: var(--primary-text-color);
  line-height: 1.9;
}

.footer {
  background-color: var(--footer-background-color);
  /*padding: 60px 0;*/
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

.footer .container {
  padding: 60px 15px;
  /*display: flex;
  align-items: baseline;*/
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    width: 1200px;
    display: flex;
    padding: 60px 15px;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__contacts {
  /*margin-right: 70px;*/
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.contacts__link--end {
  display: block;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}

.contacts__item--end:not(:last-child) {
  margin-bottom: 9px;
}

.footer__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
  padding: 0;
}

.logo--white {
  color: var(--background-color);
}

.footer__address {
  color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer__smm {
  display: inline-block;
  /*margin-right: 93px;*/
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__smm {
    margin-right: 93px;
  }
}

.smm__join {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
  margin-bottom: 20px;
}

.subscribe__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    margin: auto;
  }
}

.subscribe__form {
  /*display: flex;*/
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    align-items: center;
  }
}

.subscribe__input {
  /*width: 358px;*/
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  /*margin-right: 12px;*/
  margin: 20px 0;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    display: flex;
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}
.subscribe__input:hover {
  border: 1px solid var(--accent-color);
}

.subscribe__button {
  /*display: flex;*/
  height: 50px;
  padding: 10px 28px;
  margin-bottom: 0px;
  font-size: 16px;
  text-transform: capitalize;
  align-items: center;
  /*gap: 10px;*/
  width: 200px;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:hover, .subscribe__button:active {
  background-color: var(--button-active-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__button:hover, .subscribe__button:active {
    display: flex;
    /*gap: 10px;*/
  }
}

.subscribe__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.order__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.order__label {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.order__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order__input:focus {
  border: 1px solid var(--accent-color);
}

.order__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.order__input:focus + .order__icon {
  fill: var(--accent-color);
}

.order__comment {
  padding: 12px 16px;
  margin-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  resize: none;
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order__comment:hover, .order__comment:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .order__comment:hover, .order__comment:focus {
    width: 448px;
  }
}
.order__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.consent {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.7;
  gap: 9px;
}
@media screen and (min-width: 1200px) {
  .consent {
    font-size: 14px;
    line-height: 1.16;
  }
}

.consent__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  background-color: var(--background-color);
  border-radius: 2px;
  margin-right: 7px;
  border: 2px solid rgb(33, 33, 33);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input__check:checked + .consent__text .checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.input__check:focus + .consent__text .checkbox {
  border-color: var(--accent-color);
}

.checkbox__icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input__check:checked + .consent__text .checkbox__icon {
  fill: var(--background-color);
  border: none;
}

.consent__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.consent__button {
  padding: 10px 52px;
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.consent__button:hover, .consent__button:active {
  background-color: var(--button-active-color);
}

.container {
  width: 100%;
  /*width: 1200px;*/
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 216px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:active {
  background-color: var(--button-active-color);
}

.section {
  /*padding: 94px 0;*/
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.smm {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .smm {
    padding-left: 74px;
    padding-right: 74px;
  }
}

.smm__list {
  display: flex;
  gap: 10px;
}

.smm__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: currentColor;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.smm__link:hover, .smm__link:focus {
  background-color: var(--accent-color);
}

.smm__link--black {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--background-color);
  fill: currentColor;
}

.smm__link--white {
  background-color: var(--background-color);
  fill: currentColor;
}

.smm__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.smm__link:hover .smm__icon, .smm__link:focus .smm__icon {
  fill: var(--background-color);
}/*# sourceMappingURL=main.css.map */