:root {
    --background-color: #fff;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --logo-main-color: #000000;
    --footer-background-color: #2f303a;
    --filter-button-color: #f5f4fa;
    --button-active-color: #188ce8;
    --header-border-color: #ececec;
    --portfolio-item-border: #eeeeee;

    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }